/* font-family: 'Merriweather', serif;
font-family: 'Nunito', sans-serif; 
300 600
<i class="fas fa-check-double"></i>
*/

* {
   font-family: "Nunito", sans-serif;
   font-weight: 300;
   box-sizing: border-box;
   color: var(--text-primary);
}

:root {
   --primary: hsl(222, 100%, 70%);
   --secondary: hsl(0, 100%, 70%);
   --success: hsl(160, 50%, 50%);
   --text-primary: hsl(0, 0%, 0%);
   --text-opposite: hsl(0, 0%, 100%);
   --shadow: hsla(0, 0%, 0%, 0.1);
}

.dark {
   --primary: hsl(222, 100%, 70%);
   --secondary: hsl(0, 100%, 70%);
   --success: hsl(160, 50%, 50%);
   --text-primary: hsl(0, 0%, 85%);
   --text-opposite: hsl(270, 5%, 7%);
   --shadow: hsla(0, 0%, 50%, 0.1);
}

::selection {
   background-color: var(--primary);
   color: hsl(0, 0%, 100%);
}

body {
   background-color: var(--text-opposite);
}

.button {
   border: none;
   font-size: 1.1rem;
   color: hsl(0, 0%, 100%);
   border-radius: 7px;
   font-weight: 600;
   padding: 0.5rem 0;
   transition: box-shadow 0.3s;
}

.button:hover, .button:focus {
   box-shadow: 0px 3px 8px 0px var(--shadow);
   outline: none;
}

.button-primary {
   background: linear-gradient(90deg, hsl(222, 100%, 70%), hsl(222, 50%, 60%));
}

.button-secondary {
   background: linear-gradient(90deg, hsl(42, 100%, 70%), hsl(2, 100%, 69%));
}

.button-float {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   position: fixed;
   bottom: 35px;
   right: calc(0.1 * 100vw);
   box-shadow: 0px 0px 25px 0px var(--shadow);
   transition: all 0.3s;
}

.button-float:hover {
   box-shadow: 0px 0px 25px 5px var(--shadow);
   transform: translateY(-3px);
}

.button i {
   color: hsl(0, 0%, 100%);
}

input[type="checkbox"] {
   display: none;
}

.check {
   border: 2px solid var(--shadow);
   border-radius: 100%;
   width: 50px;
   height: 50px;
   background-color: var(--text-opposite);
   position: relative;
   transition: all 0.3s;
}

.check i {
   color: var(--primary);
   font-size: 1.3rem;
   opacity: 0;
   transition: all 0.3s;
   position: absolute;
   top: 13px;
   right: 13px;
}

.check:hover i {
   opacity: 1;
}

.check:hover {
   border-color: var(--primary);
}

input:checked~label i {
   opacity: 1;
   color: hsl(0, 0%, 100%);
}

input:checked~label .check {
   background-color: var(--primary);
   border-color: hsla(0, 0%, 0%, 0);
}

/* Navbar */

#nav {
   min-height: 70px;
   position: fixed;
   top: 0;
   width: 100%;
   box-shadow: 0px 3px 8px 0px var(--shadow);
   z-index: 2;
   background-color: var(--text-opposite);
}

#nav .container {
   height: 100%;
}

#nav button {
   outline: none;
}

#nav .brand {
   font-size: 2rem;
}

#nav .brand span {
   font-family: 'Merriweather', serif;
   font-weight: bold;
}

#nav a {
   text-decoration: none;
}

#nav a * {
   transition: all 0.3s;
   font-weight: 600;
}

#nav a:hover * {
   color: var(--primary);
}

#nav .active * {
   color: var(--primary);
}

#nav span {
   text-transform: uppercase;
   margin-left: 0.3rem;
}

#nav .navbar-nav .nav-item {
   margin-right: 2rem;
}

/* Sign-up & Sign-in */

#sign h1 {
   font-family: 'Merriweather', serif;
   font-weight: bold;
}

#sign h2 {
   font-size: 1.5rem;
}

#sign h3 {
   font-weight: 600;
   font-size: 1.5rem;
}

#sign img {
   max-width: 100%;
   max-height: 70vh;
}

#sign .row {
   height: 100vh;
}

#sign form {
   max-width: 450px;
   box-shadow: 0px 0px 25px 0px var(--shadow);
   border-radius: 7px;
}

#sign button {
   width: 100%;
}

#sign label {
   font-size: 1.1rem;
}

#sign input {
   transition: box-shadow 0.3s, border 0.3s;
   border-radius: 7px;
   padding: 20px 10px;
   background-color: var(--text-opposite);
   border-color: var(--shadow);
}

#sign input::placeholder {
   color: var(--text-primary);
   opacity: 0.5;
}

#sign input:hover, #sign input:focus {
   outline: none;
   box-shadow: 0px 3px 8px 0px var(--shadow);
}

#sign a {
   color: var(--primary);
   font-weight: 600;
}

#sign a:hover {
   text-decoration: none;
}

/* Todos */

#todos .container {
   margin-top: 115px;
   margin-bottom: 115px;
}

#todos .todo-name {
   font-weight: 600;
}

#todos .todo {
   border-radius: 7px;
   transition: all 0.3s;
   border: 1px solid var(--shadow);
}

#todos .todo:hover {
   transform: translateY(-5px);
   box-shadow: 0px 0px 25px 0px var(--shadow);
}

#todos .progress {
   background-color: var(--shadow);
}

#todos a {
   text-decoration: none;
}

#todos .history {
   right: calc(0.1 * 100vw + 70px);
}

#todos .modal-title {
   font-weight: 600;
}

#todos .modal button {
   width: 100px;
}

#todos .modal-content {
   background-color: var(--text-opposite);
   box-shadow: 0px 0px 25px 15px var(--shadow);
}

#todos .modal input {
   transition: box-shadow 0.3s, border 0.3s;
   border-radius: 7px;
   padding: 20px 10px;
   background-color: var(--text-opposite);
   border-color: var(--shadow);
}

#todos .modal input::placeholder {
   color: var(--text-primary);
   opacity: 0.5;
}

#todos .modal input:hover, #todos .modal input:focus {
   outline: none;
   box-shadow: 0px 3px 8px 0px var(--shadow);
}

/* Queries */

@media (max-width: 991px) {
   /* Navbar */
   #nav .nav-item {
      margin-top: 1rem;
   }
   /* Log-in & Sign-in */
   #sign h2 {
      font-size: 1.2rem;
   }
   #sign h3 {
      font-size: 1.3rem;
   }
}

@media (max-width: 767px) {
   /* Log-in & Sign-in */
   #sign .row {
      height: unset;
   }
}